{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div class="image featured">
  {{ items|first.content }}
</div>
{% set secondary_items = items|slice(1) %}
{% if secondary_items|length %}
  {% set secondary_itemsPerColumn = (secondary_items|length / 3)|round(0, 'ceil') %}
  <div class="row">
    {% for secondary_item in secondary_items %}
      {% if secondary_itemsPerColumn == 1 or loop.index % secondary_itemsPerColumn == 1 %}
        <div class="col-4 col-12-mobile ">
      {% endif %}
          <article class="item">
            <div class="image fit">{{ secondary_item.content }}</div>
          </article>
      {% if loop.last or loop.index % secondary_itemsPerColumn == 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
