{% set classes = [
  'one',
  'dark',
  'cover',
  'hero',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
<section id="top" {{ attributes.addClass(classes) }}>
  <div class="container">
    <header>
      <h2 class="alt">{{ content.field_title }}</h2>
    </header>
    {{ content.field_body }}
    <footer>{{ content.field_link }}
    </footer>
  </div>
</section>
